/.qmake.cache
/.qmake.stash
*.pro.user
*build-*
.o
*.moc
moc_*.cpp
moc_*.h
Makefile*
*.autosave
object_script.*.Release
object_script.*.Debug
*_plugin_import.cpp
CMakeLists.txt.user*
/debug
/release
*debug*
*release*
*ui_*
*ui_*
ui_*.h
usersadminappdatalocaltemptmphexj2b



